/*

TABLE OF CONTENTS
  1. Global Variables
  2. Reset
  3. Components
    3.1 Button
  4. Typography
  5. Contacts Section
    5.1 Contacts Header
    5.2 New Chat
    5.3 Chats
  6. Main Section

*/

/* ############ 1. Global Variables ########### */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-smoke: #f8f8f8;
  --color-platinum: #e8ebe4;
  --color-gray: #bec1bb;
  --color-blue-bell: #a491d2;
  --color-soap: #cdc3e6;
  --color-pale-lavender: #d4dcff;
  --color-dark-jungle: #1b1f21;
  --color-outer-space: #444749;
  --color-old-silver: #828485;
  /* Fonts */
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
}

/* ############ 2. Reset ########### */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--color-blue-bell);
  color: var(--color-white);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-family-primary);
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  display: flex;
  color: var(--color-dark-jungle);
  font-weight: 400;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

button,
a {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ############ 3. Components ########### */

/* ############ 3.1 Button ########### */
.button--primary {
  background-color: var(--color-blue-bell);
  color: var(--color-white);
  border: none;
  width: 18.5rem;
  padding: 1.3rem 2.2rem;
}

.button--primary:hover {
  background-color: var(--color-soap);
}

.button--primary:focus {
  background-color: var(--color-gray);
}

/* ############ 4. Typography ########### */

.display-title {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 4.5rem;
  letter-spacing: 0.5%;
}

.lead-text {
  font-family: var(--font-family-secondary);
  font-size: 1.6rem;
  letter-spacing: 0.5%;
}

.highlight-text {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 1.5%;
}

.body-text--normal {
  font-family: var(--font-family-secondary);
  font-size: 1.4rem;
  letter-spacing: 0.5%;
}

.body-text--tiny {
  font-family: var(--font-family-secondary);
  font-size: 1rem;
}

/* ############ 5. Contacts Section ########### */
.contacts {
  flex: 0 0 20%;
  border-right: 2px solid var(--color-platinum);
  min-width: 24rem;
}

/* ############ 5.1 Contacts Header ########### */
.contacts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.35rem 2.5rem 1.35rem 3rem;
}

.current-user {
  display: flex;
  gap: 1rem;
}

.current-user__image {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  border: 1px solid var(--color-platinum);
  background: var(--color-pale-lavender);
}

.current-user__status {
  color: var(--color-old-silver);
}

.menu {
  display: flex;
  gap: 0.25em;
}

.menu__button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.menu__button:hover,
.menu__button:active {
  background-color: var(--color-platinum);
}

.menu__icon {
  color: var(--color-old-silver);
  font-size: 1.7rem;
}

.fa-message {
  padding: 0.5em;
}

.fa-bars {
  padding: 0.45em 0.5em;
}

/* ############ 5.2 New Chat ########### */
.contacts__new-chat {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
  border-top: 2px solid var(--color-gray);
}

/* ############ 5.3 Chats ########### */
.contacts__chats {
}

.chats {
}

.chat-container {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  padding: 1.3rem 3rem;
  border-top: 2px solid var(--color-gray);
}

.chat-container:last-of-type {
  border-bottom: 2px solid var(--color-gray);
}

.chat__image {
  height: 5.1rem;
  width: 5.1rem;
  border-radius: 50%;
  border: 1px solid var(--color-platinum);
  background: var(--color-pale-lavender);
}

.chat__text {
}

.chat__name {
}

.chat__message {
  text-overflow: ellipsis;
}

/* ############ 6. Main Section ########### */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-smoke);
}

.main__image {
  width: 25%;
  border-radius: 10px;
  margin-bottom: 2.5rem;
}

.main__title {
  margin-bottom: 0.3rem;
}

.main__description {
  max-width: 55ch;
  text-align: center;
}
