:root {
  /* Colors */
  --gray: #707070;
  /* Fonts */
  --font-family-default: "Roboto", sans-serif;
}

::selection {
  background-color: var(--bs-success);
  color: var(--bs-white);
}

body {
  font-family: var(--font-family-default);
  color: var(--gray);
}

.card-footer {
  background-color: inherit;
}
